page-geofence {
    .toggle-md,
    .toggle-ios {
        position: relative;
        width: 30px;
        height: 10px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        contain: strict;
        padding: 7px;
    }
    .toggle-md .toggle-inner,
    .toggle-ios .toggle-inner {
        top: -1px;
        width: 15px;
        height: 15px;
        // left: 20px;
    }   
   

    .toggle-md .toggle-icon,
    .toggle-ios .toggle-icon {
        // border-radius: 14px;
        // position: relative;
        // display: block;

        width: 30px;
        height: 14px;
        background-color: #dedede;
        // -webkit-transition: background-color 300ms;
        // transition: background-color 300ms;
        // pointer-events: none;
    }
}
